In [4]:
#Create an empty tuple
tuple1 = ()
print(tuple1)

#Creating tuples with integer elements
tuple2 = (1, 2, 3)
print(tuple2)

#Tuple with mixed datatypes
tuple3 = (101, "New York", 2000.00, "HR Dept")
print(tuple3)

()
(1, 2, 3)
(101, 'Anirban', 2000.0, 'HR Dept')

In [6]:
#Creation of nested tuple
tuple4 = ("points", [1,4,3], (7,8,6))
print(tuple4)

#Tuples can also be created with any parentheses
#This called tuple packing
tuple5 = 101, "Doug", 20000.00, "HR Dept"
print(tuple5)

('points', [1, 4, 3], (7, 8, 6))
(101, 'New York', 2000.0, 'HR Dept')

In [10]:
#Tuple unpacking is also possible
empid,empname,empsal,empdept = tuple5

print(empid)
print(empname)
print(empsal)
print(empdept)

print(type(tuple5))

101
New York
2000.0
HR Dept
<class 'tuple'>

In [14]:
#Accessing elements in a tuple (zero-indexed)
tuple1 = ('w', 'e', 'l', 'c', 'o', 'm', 'e')
print(tuple1)
print(tuple1[1])
print(tuple1[3])
print(tuple1[5])

#Nested tuple element access
nest_tuple2 = ("point", [1,3,4], (8,7,9))
print(nest_tuple2)
print(nest_tuple2[0][3])
print(nest_tuple2[1][2])
print(nest_tuple2[2][2])

('w', 'e,', '1', 'c', 'o', 'm', 'e')
e,
c
m
('point', [1, 3, 4], (8, 7, 9))
n
4
9

In [18]:
#Slicing tuple contents
tuple1 = ('w', 'e', 'l', 'c', 'o', 'm', 'e')

print(tuple1[1:3])

print(tuple1[:-3])

print(tuple1[3:])

print(tuple1[:])

('e,', 'l')
('w', 'e,', 'l', 'c')
('c', 'o', 'm', 'e')
('w', 'e,', 'l', 'c', 'o', 'm', 'e')

In [21]:
#Tuple elements are immutable
tuple1 = ('w', 'e', 'l', 'c', 'o', 'm', 'e')

print(tuple1)

#tuple1[2] = 'x' #error

#Tuples can be reassigned
tuple1 = ('g', 'o', 'o', 'd', 'b', 'y', 'e')
print(tuple1)

('w', 'e,', 'l', 'c', 'o', 'm', 'e')
('g', 'o', 'o', 'd', 'b', 'y', 'e')

In [23]:
#Concatenation of tuples
tuple2 = ('w', 'e', 'l')
tuple3 = ('c', 'o', 'm', 'e')
print(tuple2)
print(tuple3)
print(tuple2 + tuple3)

#The below code makes a tuple
print(("again",) *4)

('w', 'e,', 'l')
('c', 'o', 'm', 'e')
('w', 'e,', 'l', 'c', 'o', 'm', 'e')
('again', 'again', 'again', 'again')

In [27]:
#Deletion operation on a tuple
tuple4 = ('w', 'e', 'l', 'c', 'o', 'm', 'e')

#They are immutable so cannot be deleted
#del tuple4[2]

#But you can delete the entire tuple
del tuple4
print(tuple4)
#Printing after deletion produces a NameError

In [37]:
#tuple methods
tuple5 = ('w', 'e', 'l', 'c', 'o', 'm', 'e')
print(tuple5.count('e'))
print(tuple5.index('c'))

2
3

In [31]:
#tuple operations
tuple6 = ('w', 'e', 'l', 'c', 'o', 'm', 'e')

#Membership
print('c' in tuple6)
print('c' not in tuple6)
print('a' in tuple6)
print('a' not in tuple6)

True
False
False
True

In [36]:
#Iteration through tuple elements
tuple6 = ('w', 'e', 'l', 'c', 'o', 'm', 'e')
for letters in tuple6:
    print("letter is -> ", letters)

letter is ->  w
letter is ->  e
letter is ->  l
letter is ->  c
letter is ->  o
letter is ->  m
letter is ->  e

In [39]:
#Built-in functions with tuple
tuple7 = (22,33,55,44,77,66,11)
print(tuple7)

print(max(tuple7))
print(min(tuple7))
print(sorted(tuple7))
print(len(tuple7))

(22, 33, 55, 44, 77, 66, 11)
77
11
[11, 22, 33, 44, 55, 66, 77]
7